/* login */
.login p {
    color: rgba(0, 0, 0, 0.5);
}

.login input {
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #DDDDDD;
}

.login input[type=submit] {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    background: #33B1E1;
    color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
}

.login img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

/* signup */
.signup p {
    color: rgba(0, 0, 0, 0.5);
}

.signup input {
    padding: 10px;
    padding-left: 20px;
    margin: 15px 0px;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
}

.signup input[type=submit] {
    padding-left: 0px;
    background: #35B0E1;
    color: #FFFFFF;
    font-style: normal;
    font-size: 18px;
    border: 1px solid #DDDDDD;
    border-radius: 16px;

}

/* page-title */
.page-title {
    padding: 40px;
    background-color: #33B1E1;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}