footer {
    background-color: #F4F2FF;
}

.footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #8C8C8C;
}

.footer ul {
    list-style: none;
    padding-left: 0px;
}

.footer ul li {
    line-height: 2;
}

.footer ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8C8C8C;
}

.footer ul li a:hover {
    color: black;
}

.footer p {
    font-size: 16px;
    font-family: sans-serif;
}

.footer-social a {
    margin-right: 20px;
    font-size: 24px;
}