* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif, roboto;
  background-color: #F9F9F9;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
img {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding-left: 0px;
}

button,
.btn,
input[type="submit"] {
  border: 0px;
  outline: 0px;
}

button:hover,
.btn:hover,
input[type="submit"]:hover {
  border: 0px;
  outline: 0px;
}

button:focus,
.btn:focus,
input[type="submit"]:focus {
  border: 0px;
  outline: 0px;
}

/*Header*/
.header {
  width: 100%;
  height: 80px;
  background: #ffffff;
}

.header a {
  text-decoration: none;
}

.header .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header-logo h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #35b0e1;
  font-size: 1.5rem;
}

.header .header-logo h1:hover {
  color: #5ec8f1;
}

.header .header-logo img {
  width: 100px;
}

.header .header-menu .header-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .header-menu .header-navbar ul li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header-menu .header-navbar ul li:hover a {
  color: #35b0e1;
}

.header .header-menu .header-navbar ul li a {
  color: #000;
  text-transform: capitalize;
  display: block;
  padding: 3px 15px;
  font-weight: 500;
  font-size: 0.9rem;
}

.header .header-menu .header-navbar ul .active a {
  color: #35b0e1;
}

.header .header-menu .header-navbar ul .login {
  border: 1px solid #35b0e1;
  border-radius: 50px;
  border-radius: 50px;
}

.header .header-menu .header-navbar ul .login:hover {
  background-color: #35b0e1;
}

.header .header-menu .header-navbar ul .login:hover a {
  color: #fff;
}

.header .header-menu .header-navbar ul .login a {
  color: #35b0e1;
}

/*Intro Section*/
.hero {
  height: 600px;
  background: url("./Image/Home/hero-image.png"), -webkit-gradient(linear, left top, left bottom, from(#35b0e1), to(#35b0e1));
  background: url("./Image/Home/hero-image.png"), linear-gradient(#35b0e1, #35b0e1);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero-text,
.hero .hero-form {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero .hero-text .text-box .hero-title {
  font-weight: bold;
  font-size: 2.5em;
  color: #fff;
}

.hero .hero-text .text-box .hero-description {
  color: #fff;
}

.hero .hero-text .text-box .hero-button {
  color: #35b0e1;
  font-weight: 500;
  font-size: 12px;
}

.hero .hero-form .form-box {
  width: 300px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px #0005;
  box-shadow: 0px 0px 10px #0005;
  border-radius: 10px;
  padding: 30px 20px;
}

.hero .hero-form .form-box .hero-form-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.hero .hero-form .form-box input {
  margin: 10px 0px;
}

.hero .hero-form .form-box input:not(input[type="submit"]) {
  font-size: 14px;
}

.hero .hero-form .form-box input[type="submit"] {
  background: #35b0e1;
  color: #fff;
}

/*Client Logo Section*/
.client .clint-logo ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client .clint-logo ul li img {
  width: 120px;
}

/*Who We are*/
.whoWeAre .img-box img {
  width: 100%;
}

.whoWeAre .text-box .section-title {
  color: #35b0e1;
  font-size: 0.8em;
  letter-spacing: 5px;
}

.whoWeAre .text-box .section-button {
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 500;
  background-color: #35b0e1;
  color: #fff;
}

.whoWeAre .text-box .section-button:hover {
  padding: 7px 19px;
  color: #35b0e1;
  border: 1px solid #35b0e1;
  background-color: #fff;
}

/*Services*/
.services .section-heading .section-title {
  color: #35b0e1;
  font-size: 1em;
  letter-spacing: 5px;
}

.services .services-content .services-box,
.services .services-content .services-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.services .services-content .services-box {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 0px 30px;
  border-radius: 10px;
  text-align: center;
}

.services .services-content .services-box .services-icon {
  width: 60px;
  height: 60px;
  border: 1px solid #35b0e1;
  border-radius: 100%;
}

.services .services-content .services-box .services-icon i {
  font-size: 25px;
  color: #35b0e1;
}

.services .services-content .services-box .services-title {
  font-size: 1.1em;
  margin: 15px 0px;
}

.services .services-content .services-box .services-description {
  font-size: 1em;
  color: #333;
}

.services .services-content .services-box:hover {
  background: #35b0e1;
}

.services .services-content .services-box:hover .services-icon {
  background: #fff;
}

.services .services-content .services-box:hover .services-title {
  color: #fff;
}

.services .services-content .services-box:hover .services-description {
  color: #fff;
}

/*Choose Section*/
.choose-us {
  background: #35b0e1;
}

.choose-us * {
  color: #fff;
}

.choose-us .section-heading .section-title {
  color: #fff;
  font-size: 1em;
  letter-spacing: 5px;
}

.choose-us p {
  color: #f7f7f7;
}

.choose-us .choose-content .box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.choose-us .choose-content .box-item .box-icon {
  width: 60px !important;
  height: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 100%;
}

.choose-us .choose-content .box-item .box-icon i {
  width: 60px !important;
  text-align: center;
  font-size: 25px;
  color: #35b0e1;
}

.choose-us .choose-content .box-item .box-text {
  margin-left: 2em;
}

.choose-us .choose-content .box-item .box-text h5 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.choose-us .choose-content .box-item .box-text p {
  font-size: 0.9em;
}

.choose-us .choose-content .left-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*Testimonial Section*/
.testimonial {
  background: #16365d;
}

.testimonial .section-heading .section-title {
  color: #fff;
  font-size: 1em;
}

.testimonial .section-heading h3 {
  color: #fff;
}

.testimonial .testimonial-content .tm-box-one {
  margin-top: 6em;
}

.testimonial .testimonial-content .testimonial-item {
  position: relative;
  margin: 10px;
  text-align: center;
}

.testimonial .testimonial-content .testimonial-item .testimonial-info {
  max-width: 336px;
  max-height: 163px;
  background: #fff;
  padding: 50px 20px;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.testimonial .testimonial-content .testimonial-item .testimonial-img {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 55%;
  left: 40%;
}

.testimonial .testimonial-content .testimonial-item .testimonial-img img {
  width: 100%;
}

.testimonial .testimonial-content .testimonial-item h4 {
  font-size: 1.1em;
  color: #fff;
}

.testimonial .testimonial-content .testimonial-item span {
  color: #888;
  font-size: 14px;
}

/*Contact Section*/
.contact .section-heading {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact .section-heading .section-title {
  color: #000;
  font-weight: bold;
}

.contact .section-heading p {
  color: #333;
}

.contact .contact-form form div {
  margin-bottom: 1em;
}

.contact .contact-form form input:not(input[type="submit"]),
.contact .contact-form form textarea {
  font-size: 14px;
}

.contact .contact-form form input,
.contact .contact-form form textarea {
  padding: 12px 15px;
}

.contact .contact-form form input:hover,
.contact .contact-form form textarea:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact .contact-form form input[type="submit"] {
  background: #35b0e1;
  color: #fff;
}

/*Footer Section*/
.footer {
  background: #f4f2ff;
}

.footer .footer-header {
  margin-bottom: 1em;
  font-weight: bold;
}

.footer .footer-header h5 {
  font-size: 1.2rem;
}

.footer .footer-1 .footer-item .footer-content p {
  font-size: 14px;
  color: #666;
}

.footer .footer-1 .footer-one-icon {
  margin-top: 1em;
}

.footer .footer-1 .footer-one-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer .footer-1 .footer-one-icon ul li {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #35b0e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer-1 .footer-one-icon ul li:hover {
  background-color: #fff;
  border: 1px solid #35b0e1;
}

.footer .footer-1 .footer-one-icon ul li:hover i {
  color: #35b0e1;
}

.footer .footer-1 .footer-one-icon ul li i {
  color: #fff;
  font-size: 15px;
}

.footer .footer-2 .footer-item .footer-content ul,
.footer .footer-3 .footer-item .footer-content ul {
  list-style: none;
}

.footer .footer-2 .footer-item .footer-content ul li:hover a,
.footer .footer-3 .footer-item .footer-content ul li:hover a {
  color: #333;
}

.footer .footer-2 .footer-item .footer-content ul a,
.footer .footer-3 .footer-item .footer-content ul a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.footer .footer-4 .footer-item .footer-content .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-4 .footer-item .footer-content .footer-contact .footer-contact-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #35b0e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer-4 .footer-item .footer-content .footer-contact .footer-contact-icon:hover {
  background-color: #fff;
  border: 1px solid #35b0e1;
}

.footer .footer-4 .footer-item .footer-content .footer-contact .footer-contact-icon:hover i {
  color: #35b0e1;
}

.footer .footer-4 .footer-item .footer-content .footer-contact .footer-contact-icon i {
  color: #fff;
  font-size: 15px;
}

.footer .footer-4 .footer-item .footer-content .footer-contact .contact-text span {
  color: #666;
  font-size: 12px;
}

.footer .footer-4 .footer-item .footer-content .footer-contact .contact-text p {
  font-weight: bold;
  color: #35b0e1;
  font-size: 1em;
}

.footer .footer-bottom {
  border-top: 1px solid #888;
}

.footer .footer-bottom p {
  font-size: 14px;
  color: #666;
}

@media only screen and (min-width: 768px) {
  .header .nav-mini-button {
    display: none;
  }
}

@media only screen and (min-width: 992px) {

  /*Services*/
  .services .services-content>div:nth-child(3),
  .services .services-content>div:nth-child(6) {
    margin-top: 6em !important;
  }

  .services .services-content .services-box {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }

  .services .services-content .services-box:hover {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@media (min-width: 767px) and (max-width: 992px) {

  /*Footer*/
  .footer .footer-4 .footer-content .contact-text span {
    font-size: 10px !important;
  }

  .footer .footer-4 .footer-content .contact-text p {
    font-size: 0.8em !important;
  }
}

@media only screen and (max-width: 1199px) {

  /*Services*/
  .services .services-content .services-box {
    margin: 15px;
  }
}

@media only screen and (max-width: 991px) {

  /*Hero*/
  .hero {
    height: auto;
  }

  .hero .hero-text,
  .hero .hero-form {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero .hero-form .form-box {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px #0005;
    box-shadow: 0px 0px 10px #0005;
    border-radius: 10px;
    padding: 30px 20px;
  }

  /*Client Logo Section*/
  .client .clint-logo ul li img {
    width: 100px;
  }

  .whoWeAre .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .whoWeAre .img-box img {
    width: 100%;
  }

  /*Contact Section*/
  .contact .section-heading {
    width: 600px;
  }
}

@media only screen and (max-width: 767px) {
  .header .header-logo img {
    width: 120px;
  }

  .header .nav-mini-button i {
    font-size: 25px;
  }

  .header .header-menu .header-navbar {
    height: 100%;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 80px;
    background: rgba(0, 0, 0, 0.8);
  }

  .header .header-menu .header-navbar ul {
    display: block;
  }

  .header .header-menu .header-navbar ul li a {
    color: #fff;
    padding: 5px 10px;
  }

  .header .header-menu .header-navbar .login {
    margin-top: 10px;
  }

  .header .header-menu .header-navbar-hide {
    display: none;
    width: 0px;
  }

  .header .header-menu .header-navbar-show {
    display: block;
    width: 200px;
  }

  /*Services*/
  .services .services-content .services-box {
    margin: 30px;
  }

  /*Client Logo Section*/
  .client .clint-logo ul li img {
    width: 80px;
  }

  /*testimonial*/
  .testimonial .testimonial-content .tm-box-one {
    margin-top: 1em !important;
  }

  .testimonial .testimonial-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .testimonial .testimonial-img {
    left: 45% !important;
  }

  /*Contact Section*/
  .contact .section-heading {
    width: auto;
  }
}

@media only screen and (max-width: 575px) {

  /*Footer*/
  .footer .footer-1,
  .footer .footer-2,
  .footer .footer-3,
  .footer .footer-4 {
    margin: auto;
    text-align: center;
  }

  .footer .footer-one-icon ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer .footer-4 .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
  }
}

@media only screen and (max-width: 360px) {

  /*testimonial*/
  .testimonial .testimonial-img {
    left: 40% !important;
  }
}


/*ABOUT*/
.about-section .section-heading .section-title {
  color: #35b0e1;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.55em;
}

.about-section .section-heading .section-into {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.about-section .section-image img {
  max-width: 470px;
  max-height: 460px;
  border-radius: 10px;
}

.about-section .section-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: #424344;
}

.services-about .section-heading .section-title {
  color: #35b0e1;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.55em;
}

.services-about .section-heading .section-into {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.services-about .services-content {
  height: 80px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.services-about .services-content h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

.services-about .services-content i {
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .header .nav-mini-button {
    display: none;
  }
}

@media only screen and (min-width: 992px) {

  /*Services*/
  .services .services-content>div:nth-child(3),
  .services .services-content>div:nth-child(6) {
    margin-top: 6em !important;
  }

  .services .services-content .services-box {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }

  .services .services-content .services-box:hover {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@media (min-width: 767px) and (max-width: 992px) {

  /*Footer*/
  .footer .footer-4 .footer-content .contact-text span {
    font-size: 10px !important;
  }

  .footer .footer-4 .footer-content .contact-text p {
    font-size: 0.8em !important;
  }
}

@media only screen and (max-width: 1199px) {

  /*Services*/
  .services .services-content .services-box {
    margin: 15px;
  }
}

@media only screen and (max-width: 991px) {

  /*Hero*/
  .hero {
    height: auto;
  }

  .hero .hero-text,
  .hero .hero-form {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero .hero-form .form-box {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px #0005;
    box-shadow: 0px 0px 10px #0005;
    border-radius: 10px;
    padding: 30px 20px;
  }

  /*Client Logo Section*/
  .client .clint-logo ul li img {
    width: 100px;
  }

  .whoWeAre .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .whoWeAre .img-box img {
    width: 100%;
  }

  /*Contact Section*/
  .contact .section-heading {
    width: 600px;
  }
}

@media only screen and (max-width: 767px) {
  .header .header-logo img {
    width: 120px;
  }

  .header .nav-mini-button i {
    font-size: 25px;
  }

  .header .header-menu .header-navbar {
    height: 100%;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 80px;
    background: rgba(0, 0, 0, 0.8);
  }

  .header .header-menu .header-navbar ul {
    display: block;
  }

  .header .header-menu .header-navbar ul li a {
    color: #fff;
    padding: 5px 10px;
  }

  .header .header-menu .header-navbar .login {
    margin-top: 10px;
  }

  .header .header-menu .header-navbar-hide {
    display: none;
    width: 0px;
  }

  .header .header-menu .header-navbar-show {
    display: block;
    width: 200px;
  }

  /*Services*/
  .services .services-content .services-box {
    margin: 30px;
  }

  /*Client Logo Section*/
  .client .clint-logo ul li img {
    width: 80px;
  }

  /*testimonial*/
  .testimonial .testimonial-content .tm-box-one {
    margin-top: 1em !important;
  }

  .testimonial .testimonial-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .testimonial .testimonial-img {
    left: 45% !important;
  }

  /*Contact Section*/
  .contact .section-heading {
    width: auto;
  }
}

@media only screen and (max-width: 575px) {

  /*Footer*/
  .footer .footer-1,
  .footer .footer-2,
  .footer .footer-3,
  .footer .footer-4 {
    margin: auto;
    text-align: center;
  }

  .footer .footer-one-icon ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer .footer-4 .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
  }
}

@media only screen and (max-width: 360px) {

  /*testimonial*/
  .testimonial .testimonial-img {
    left: 40% !important;
  }
}

@media only screen and (max-width: 991px) {
  .section-image img {
    max-width: inherit !important;
    max-height: inherit !important;
    border-radius: 10px;
  }
}